.division{
    border: 2px solid gray;
    border-radius: 30px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    width: 500px;
}
#image{
    border-radius: 30px;
    width: 500px;
}
li{
    border: 1px solid gray;
    border-radius: 20px;
    width: fit-content;
    list-style-type: none;
    padding: 5px;
    margin: 10px;
}
.list{
    display: flex;
}
p{
    color: gray;
}
#Read{
    background-color: rgba(154, 210, 191, 0.831);
    color: blue;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin-left: 200px;
}