*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
:root{
    --primary:red;
    --secondary:blue;
}
header{
    position: sticky;
}
ul{
    border: 2px solid var(--secondary);
    list-style: inline;
    background-color: aqua;
    padding: 10px;
}
ul li{
    display: inline;
    padding: 10px;
}
footer{
    background-color: white;
    padding: 30px;
}
#image{
    border: 2px solid gray;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: wheat;
}
#text{
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
}
#top{
    background-color: greenyellow;
    height: 80vh;
    padding: 30px 50px;
}
.first{
    background-color: rgb(199, 40, 66);
    height: 450px;
    width: 600px;
    float: left;
}
.second{
    background-color: rgb(0, 166, 255);
    height: 450px;
    width: 600px;
    float: right;
}